@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: rgb(36, 62, 99)
}

body{
    max-width: 100vw;
    overflow-x:hidden;
}

.row__narrow{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container{
    padding: 96px 0;
}

.purple{
    color: #6415ff;
}

section{
    padding: 0 32px;
}

main{ 
    margin-bottom: 96px;
}

.row{ 
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


/*navbar*/

nav{
    display: flex;
    padding-top: 32px;
}

.nav__row{
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.btn__menu{
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover{
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%)
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.menu__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open,
.menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

/* HEADER */


header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
